

/* Left Column Styles */
.left-column {
    width: 20%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Header Styles */
.header {
    background: linear-gradient(to right, #252d80c5, #282a7e);
    color: #f8f4f4;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Right Column Styles */
.right-column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather {
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.current-weather {
    width: 100%;
    background-color: #fff;
    padding: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    vertical-align: auto;
    border-bottom-style: solid;
    border-top-style:solid;
    border-left-style:solid;
    border-right-style:solid;
}

.forecast {
    width: 100%;
    background-color: #fff;
    padding: 125px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    vertical-align: auto;
} 
